<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragments :: page_head('Your account details')">
	
	<body>
		<div class="container-fluid">
		
			<div th:replace="navigation :: page_menu()"></div>
			
			<div class="text-center">
				<h1>Your Account Details</h1>
			</div>
			
			<div th:if="${message != null}" class="alert alert-success text-center" >
				[[${message}]]
			</div>
			
			<form th:action="@{/account/update}" method="POST" style="max-width: 700px; margin: 0 auto;"
					enctype="multipart/form-data"
					th:object="${user}">
				<div class="border border-secondary rounded p-3">
					<input id="userId" type="hidden" th:field="*{id}"/>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">E-mail:</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" th:field="*{email}" readonly="true"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">First Name:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="45"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Last Name:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="45"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Password:</label>
						<div class="col-sm-8">
							<input id="password" type="password" class="form-control" th:field="*{password}" 
							placeholder="Leave this blank if you don't want to your change password."
							oninput="confirmPasswordsMatch(document.getElementById('confirmPassword'))" 
							minlength="8" maxlength="128"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Confirm Password:</label>
						<div class="col-sm-8">
							<input id="confirmPassword" type="password" class="form-control" 
							oninput="confirmPasswordsMatch(this)"
							minlength="8" maxlength="128"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Roles:</label>
						<div class="col-sm-8">
							 <span><strong>[[${user.roles}]]</strong></span>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Photo:</label>
						<div class="col-sm-8">
							<input type="hidden" th:field="*{photos}"/>
							<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="mb-2" />
							<img id="thumbnail" alt="Photos Preview" th:src="@{${user.photoImagePath}}" class="img-fluid" style="width: 100px;" />
						</div>
					</div>
					
					<div class="text-center">
						<input type="submit" class="btn btn-primary m-3" value="Save"/>
						<input type="button" class="btn btn-secondary" value="Cancel" id="cancelButton"/>
					</div>
					
				</div>
			</form>
			
			
			
			<div th:replace="fragments :: page_footer()"></div>
			
		</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$("#cancelButton").on("click", function(){
					window.location = "[[@{/users}]]"
				})
				
				$("#fileImage").change(function(){
					let fileSize = this.files[0].size
					if(fileSize > 1048576){
						this.setCustomValidity("You must choose an image 1 MB or smaller.");
						this.reportValidity();
					}else{
						this.setCustomValidity("");
						showImageThumbnail(this);
					}
					
				})
				
			})
			
			function showImageThumbnail(fileInput){
				let file = fileInput.files[0]
				let fileReader = new FileReader()
				fileReader.onload = function(e){
					$("#thumbnail").attr("src", e.target.result)
				}
				fileReader.readAsDataURL(file);
			}
			
			function confirmPasswordsMatch(confirmPasswordField){
				if(confirmPasswordField.value != $('#password').val()){
					confirmPasswordField.setCustomValidity("The passwords do not match.")
				}else{
					confirmPasswordField.setCustomValidity("")
				}
			}
			
			
		</script>
		
	</body>
</html>