<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="page_head(title)">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<title>[[${title}]]</title>
		<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/css/all.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
		<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/common.js}"></script>
	</head>
	<body>
		<th  th:fragment="list_header(moduleUrl,fieldName,columnName,removeTag)" th:remove="${removeTag}">
			<a class="text-white"
				th:href="@{ ${moduleUrl} + '/page/' + ${currentPage} + '/?sortField=' + ${fieldName} + '&sortDir=' + ${sortDir == 'asc' ? 'desc' : 'asc'} + ${keyword != null ? '&keyword=' + keyword : ''} }">
					[[${columnName}]]
				</a>
				<span th:if="${sortField == fieldName}" 
					  th:class="${sortDir == 'asc'} ? 'fas fa-sort-up' : 'fas fa-sort-down'"></span>
		</th>
		
		
		
		<div th:fragment="page_footer()" class="text-center m-3">
			<p>Shopme Control Panel - Copyright &copy;Shopme</p>
		</div>
		
		
		<div th:fragment="status(enabled,entityName,entityUrl)" th:remove="tag">
			<a th:if="${enabled == true}" class="fas fa-check-circle fa-2x icon-green" 
					th:href="@{${entityUrl} + '/enabled/false'}"
					th:title="${'Disable this ' + entityName}"></a>
			<a th:if="${enabled == false}" class="fas fa-circle fa-2x icon-dark" 
				th:href="@{${entityUrl} + '/enabled/true'}"
				th:title="${'Enable this ' + entityName}"></a>
		</div>
		
		<div th:fragment="edit(entityName,entityUrl)" th:remove="tag">
			<a class="fas fa-edit fa-2x icon-green" th:href="@{${entityUrl}}" th:title="${'Edit this ' + entityName}"></a>
		</div>
		
		<div th:fragment="delete(entityName,entityUrl,entityId,show)" th:remove="tag">
			<a th:if="${show}" class="fas fa-trash fa-2x icon-dark link-delete" th:entityId="${entityId}" th:href="@{${entityUrl}}" th:title="${'Delete this ' + entityName}"></a>
		</div>
		
		
		
		<a th:fragment="page_link(pageNum,linkText,moduleUrl)"  class="page-link" 
			th:href="@{'/' + ${moduleUrl} +'/page/' + ${pageNum} + '/?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${linkText}]]</a>
		
		
		<div th:fragment="pagination(moduleUrl,entityText)" th:remove="tag">
		
			<div class="text-center m-1" >
					<span th:if="${totalItems > 0}">Showing [[${entityText}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
					<span th:unless="${totalItems > 0}">No [[${entityText}]] found</span>
				</div>
					
			<div th:if="${totalPages > 1}">
				<nav  aria-label="Page navigation">
				  <ul class="pagination justify-content-center flex-wrap">
				  	
				  	<li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
				  		<a th:replace="fragments :: page_link(1,'First',${moduleUrl})"></a>
				  	</li>
				    
				    <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
				    	<a th:replace="fragments :: page_link(${currentPage - 1},'Previous',${moduleUrl})"></a>
				    </li>
				    
				    <li th:class="${currentPage != i} ? 'page-item' : 'page-item active'" 
				    	th:each="i : ${#numbers.sequence(1,totalPages)}">
				    	<a th:replace="fragments :: page_link(${i},${i},${moduleUrl})"></a>
				    </li>
				    
				    <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
				    	<a th:replace="fragments :: page_link(${currentPage + 1},'Next',${moduleUrl})"></a>
				    </li>
				    
				    <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
				    	<a th:replace="fragments :: page_link(${totalPages},'Last',${moduleUrl})"></a>
				    	</li>
				  </ul>
				</nav>
			</div>
		
		</div>
		
		<div th:fragment="search_form_and_message(moduleUrl)" th:remove="tag">
		
			<div th:if="${message != null}" class="alert alert-success text-center" >
				[[${message}]]
			</div>
			
			<form th:action="@{'/' + ${moduleUrl}}" class="form-inline">
				<label>Filter</label> 
				<input type="hidden" name="sortField" th:value="${sortField}"/>
				<input type="hidden" name="sortDir" th:value="${sortDir}"/>
				<input type="search" name="keyword" th:value="${keyword}" class="form-control ml-2"/>
				<button type="submit" class="btn btn-primary m-2">
					<i class="fas fa-search"></i>
				</button>
				<button type="button" class="btn btn-secondary" id="clearButton">
					<i class="fas fa-eraser"></i>
				</button>
			</form>
		</div>
					    
	</body>
</html>