<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragments :: page_head(${pageTitle})">
	
	<body>
		<div class="container-fluid">
		
			<div th:replace="navigation :: page_menu()"></div>
			
			<div>
				<h1>Manage Users | [[${pageTitle}]]</h1>
			</div>
			
			<form th:action="@{/users/save}" method="POST" style="max-width: 700px; margin: 0 auto;"
					enctype="multipart/form-data"
					th:object="${user}" onsubmit="return checkEmailUnique(this)">
				<div class="border border-secondary rounded p-3">
					<input id="userId" type="hidden" th:field="*{id}"/>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">E-mail:</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" th:field="*{email}" required minlength="8" maxlength="128"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">First Name:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="45"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Last Name:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="45"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Password:</label>
						<div class="col-sm-8">
							<input th:if="${user.id == null}" type="password" class="form-control" th:field="*{password}" required minlength="8" maxlength="128"/>
							<input th:if="${user.id != null}" type="password" class="form-control" th:field="*{password}" minlength="8" maxlength="128"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Roles:</label>
						<div class="col-sm-8">
							<th:block th:each="role : ${listRoles}">
								<input type="checkbox" 
								th:text="${role.name}" 
								th:value="${role.id}" 
								th:field="*{roles}"
								class="m-2" />
								- <small>[[${role.description}]]</small>
								<br/>
							</th:block>
							</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Enabled:</label>
						<div class="col-sm-8">
							<input type="checkbox" th:field="*{enabled}"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Photo:</label>
						<div class="col-sm-8">
							<input type="hidden" th:field="*{photos}"/>
							<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="mb-2" />
							<img id="thumbnail" alt="Photos Preview" th:src="@{${user.photoImagePath}}" class="img-fluid" style="width: 100px;" />
						</div>
					</div>
					
					<div class="text-center">
						<input type="submit" class="btn btn-primary m-3" value="Save"/>
						<input type="button" class="btn btn-secondary" value="Cancel" id="cancelButton"/>
					</div>
					
				</div>
			</form>
			
			<div class="modal fade text-center" id="modalDialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="modalTitle"></h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						
						<div class="modal-body">
							<span id="modalBody"></span>
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
						
					</div>
				</div>
			</div>
			
			<div th:replace="fragments :: page_footer()"></div>
			
		</div>
		
		<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
		
		
		<script type="text/javascript">
			
		    let homePageUrl="[[@{/}]]"
			
			function checkEmailUnique(form){
				let url = "[[@{/users/check_email}]]"
				let email = $("#email").val()
				let id = $("#userId").val()
				let csrf = $("input[name='_csrf']").val()
				let params = {
					id: id,
					email : email,
					_csrf : csrf
				}
				
				$.post(url, params, function(response){
					if(response === "OK"){
						form.submit();
					}else if(response === "Duplicated"){
						showModalDialog("Error",'There is another user with email : ' + email)
					}else{
						showModalDialog("Error",'Unexpected response from the server')
					}
				}).fail(function(){
					showModalDialog("Error",'Could not connect to the server.')
				})
				
				return false;
			}
			
			function showModalDialog(title, body){
				$("#modalTitle").text(title)
				$("#modalBody").text(body)
				$("#modalDialog").modal()
			}
		</script>
		
	</body>
</html>