<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="fragments :: page_head('Users - Shopme Admin')">
	
	<body>
		<div class="container-fluid">
		
			<div th:replace="navigation :: page_menu()"></div>
			
			<div>
				<h1>Manage Categories</h1>
				<a th:href="@{/categories/new}" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>
				<a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
			</div>
		
			
			<div th:replace="fragments :: search_form_and_message('categories')"></div>
			
			<div class="full-details">
				<table class="table table-bordered table-striped table-hover table-responsive-xl">
					<thead class="thead-dark">
						<th>Id</th>
						<th>Category Image</th>
						<th th:replace="fragments :: list_header('/categories','name', 'Name','none')"></th>
						<th class="hideable-column">Alias</th>
						<th>Enabled</th>
						<th></th>
					</thead>
					<tbody>	
						<tr th:each="category : ${categories}">
							<td>[[${category.id}]]</td>
							<td>
								<span th:if="${category.image == null}" class="fas fa-portrait fa-3x icon-silver"></span>
								<img th:if="${category.image != null}" th:src="@{${category.imagePath}}" style="width: 100px;"/>
							</td>
							<td>[[${category.name}]]</td>
							<td  class="hideable-column">[[${category.alias}]]</td>
							
							<td>
								<div th:replace="fragments :: status(${category.enabled},'category','/categories/' + ${category.id})"></div>
							</td>
							<td>
								<div th:replace="fragments :: edit('category','/categories/edit/' + ${category.id})"></div>
								<div th:replace="fragments :: delete('category','/categories/delete/' + ${category.id},${category.id},${!category.children.isEmpty()})"></div>
						    </td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="less-details">
			
				<div th:each="category : ${categories}" class="row m-1">
					<div class="col-4 mb-1">
						<span th:if="${category.image == null}" class="fas fa-portrait fa-3x icon-silver"></span>
						<img th:if="${category.image != null}" th:src="@{${category.imagePath}}" style="width: 100px;"/>
					</div>
					<div class="col-8">
						<div>[[${category.name}]]</div>
						<div class="m-1">
							<div th:replace="fragments :: status(${category.enabled},'category','/categories/' + ${category.id})"></div>
							<div th:replace="fragments :: edit('category','/categories/edit/' + ${category.id})"></div>
							<div th:replace="fragments :: delete('category','/categories/delete/' + ${category.id},${category.id},${!category.children.isEmpty()})"></div>
						</div>
					</div>
				</div>
			
			</div>
			
			<div th:if="${keyword != null}" class="text-center">
				<span>The search results are not shown in hierarchical form</span>
			</div>
			<div th:replace="fragments :: pagination('categories', ${keyword == null ? 'top-level categories' : 'categories'})"></div>
			
			<div th:replace="modal_fragments :: confirm_delete_dialog()"></div>
			
			<div th:replace="fragments :: page_footer()"></div>
			
			
			
		</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
			
				moduleUrl = "[[@{/categories}]]"
					
				$(".link-delete").on("click", function(event){
					event.preventDefault();
					showDeleteConfirmationModal($(this),'category')
				})
				
				$("#clearButton").on('click', function(){
					clearFilter()
				})
				
			})
		</script>	
		<script type="text/javascript" th:src="@{/js/common_list.js}"></script>
			
		
		
	</body>
</html>